AddDefaultCharset utf-8

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{QUERY_STRING} .
RewriteRule ^index.php.*$ http://%{HTTP_HOST}/$0? [R=301,L]
RewriteRule ^(.*)$ index.php